<!-- <h2>Greeting</h2> -->
<div class="background">
  <h4 align="center">{{greetingMessage}}</h4>

<div id="login-form">
  <div class="card card-container">
    <img id="profile-img" src="../../../assets/avatar_2x.png" class="profile-img-card" />
    <form novalidate  #myLoginGroup="ngForm" (ngSubmit)="loginUser()">
        <label for="username">Username</label>
        <input required type="text" name="username" class="form-control" 
            placeholder="enter username"   [(ngModel)]="loginForm.username">
        <label for="password">Password</label>
        <input required type="password" name="password" class="form-control"
            placeholder="enter password"   [(ngModel)]="loginForm.password">
        <!-- <div *ngIf="userFound === false">
          No user found. 
        </div> -->
        <br />
        <div style="display:inline-block; 
                    white-space: nowrap; text-align: right; min-width: 70px;">
        <a routerLink="/register" 
            style="color:rgb(27, 155, 155); cursor: pointer; 
              margin-right: 15px; margin-left: 120px;">Register</a>
           
        <a routerLink="/loginreset" 
            style="color:rgb(27, 155, 155);cursor: pointer;">Forgot password?</a>
        </div> 
        <br>   
        <div *ngIf="noUserFoundMessage != '' ">{{noUserFoundMessage}}</div>
        <br>
      <div class="form-group">
        <input type="submit"          
          class="btn btn-primary  form-control"           
          value="Login" 
          [disabled]="myLoginGroup.invalid">
          
        <!-- <button type="submit" class="btn btn-primary" routerLink="/employee">Employee</button>
        <button type="submit" class="btn btn-primary" routerLink="/manager">Manager</button> -->
      </div>
    </form>
  </div>
</div>

</div>