<div mat-dialog-content >
    <button mat-button class="closeX ml-auto"  (click)="onNoClick()" >
        &#10006;
    </button>
    <hr>

    <mat-form-field>        
        <input matInput disabled [ngModel]="data.reiId" placeholder="ID" >
    </mat-form-field>

    <!-- amount -->
    <mat-form-field *ngIf="editOn">        
            <input type="number" matInput [(ngModel)]="editedRei.rei_amount" placeholder="Amount"
                            (ngModelChange)="editedRei.rei_amount=$event"
                            style="background-color: rgb(78, 225, 225)">
    </mat-form-field>
    <mat-form-field *ngIf="!editOn">          
            <input matInput disabled [ngModel]="data.rei_amount | currency" placeholder="Amount">                                            
    </mat-form-field>   

    <mat-form-field>
        <input matInput disabled [ngModel]="data.rei_submitteDate | date:'MM/dd/yy' " placeholder="Submitted On">                                                    
    </mat-form-field>
    <br>

    <!-- type -->
    <mat-form-field *ngIf="editOn" >
        <mat-label >Type</mat-label >
        <mat-select name="type" [(ngModel)]="editedRei.reiType" placeholder="Type" 
                                style="background-color: rgb(78, 225, 225)">       
            <mat-option *ngFor="let t of typesOfReimbursement" [value]="t">{{t}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!editOn">
        <input matInput disabled [ngModel]="data.reiType" placeholder="Type">
    </mat-form-field>
    <!-- -------------------------  -->

    <mat-form-field>
        <input matInput disabled [ngModel]="data.reiStatus" placeholder="Status">
    </mat-form-field>
    <mat-form-field>
        <input matInput disabled [ngModel]="data.rei_resolvedDate ? (data.rei_resolvedDate | date:'MM/dd/yy') : 'Unresolved' " placeholder="Resolved On">
    </mat-form-field>
    <br>
    <!-- description -->
    <mat-form-field *ngIf="editOn">
        <input matInput [(ngModel)]="editedRei.rei_description" placeholder="Description"                        
                                style="background-color: rgb(78, 225, 225); width:flex;">
    </mat-form-field>
    <mat-form-field *ngIf="!editOn">
        <input matInput disabled [ngModel]="data.rei_description" placeholder="Description">
    </mat-form-field>
    
    
    


  <div *ngIf="responseMessage != '' " style="color:red;">    
    <br>
    {{responseMessage}}
    <br><br>
  </div>   
  
  <div mat-dialog-actions>
    <div>
        <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
            (click)="onNoClick()">Close</button>
    </div>      
    <div *ngIf="data.reiStatus == 'PENDING'">
        <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
            (click)="cancelReimbursement()">Delete</button>
        <button mat-button class="btn btn-secondary" style="margin-right: 15px;"
            (click)="editReimbursement()">Edit</button>
    </div> 
    <div *ngIf="editOn">
        <span>
            <ng-container *ngIf="data.receiptPicName == null ; else elseBlock">
                <input type="file" #file  (change)="onFileSelected($event)" class="input-type-file-upload" />
                <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="file.click()">Upload Receipt</button>
            </ng-container>
            <ng-template #elseBlock>
                <input type="file" #file  (change)="onFileSelected($event)" class="input-type-file-upload" />
                <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="file.click()">Replace Receipt</button>
                <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
                    (click)="deleteReceipt()">Delete Receipt</button>
                
            </ng-template>        
        </span>
        <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
            (click)="saveChanges()">Save</button>
    </div>
    <span *ngIf="data.receiptPicName != null">
        <button mat-button class="btn btn-secondary" style="margin-right: 10px;"
            (click)="viewReceipt()">View Receipt</button>
    </span>  
  </div>
<!-- </form> -->
</div>