body {

	background: url(stars-milky-way-starry-sky-4k_1536016980.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

thead {
	color: #fff;
	background-color: #4082f5;
}
table {
	background-color: #fff;
}

.signin
 {
  background-color: #1161ed;
  color: #FFF;
  width: 70%;
  /*padding: 10px 20px;*/
  display: inline-block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  align-items: center center;
  border: none;
  text-transform: uppercase;
}
.blue {
	background-color: #4082f5;
	color: #fff;
}

.signin
 {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

input, select, button {
	display: inline-block;
	padding-top: 20px;
	font-size: 14px;
  }
  
  /*
  .text:focus {
	outline: 0;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0);
  }*/
  
  .text:focus + span {
	opacity: 0.6;
  }
  
  input[type="text"],
  input[type="password"] {
	font-family: 'Montserrat', sans-serif;
	color: rgb(20, 19, 19);
  }
  h2:first-child {
	padding-left: 30px;
  }
  
  span {
	  color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 1; 
	display: inline-block;
	position: relative;
	top: -65px;
	transition: all 0.5s ease-in-out;
  }
  
  .text {
	  color: #fff;
	border: none;
	width: 89%;
	padding: 50px;
	display: inline-block;
	height: 15px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0);
	overflow: hidden;
	margin-top: 15px;
	transition: all 0.5s ease-in-out;
  }
  h2 {
	  color: #fff;
	padding-left: 30px;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 5px;
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 100;
  }
  form {
	padding-top: 50px;
  }  

  h4{
	  color: #fff;
	  text-transform: uppercase;
  }

  .form-container{
    margin-block: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;

}