<div class="form-container">
  <div>
    <h2>finance manager home</h2>
    <div>
      <h2 id="welcomeTextName">[USER NOT FOUND]</h2>
    </div>
  </div>
  <br /><br />
  <div>
    <h4>Approve Reimbursement</h4>
    <input
      id="reiAppId"
      type="number"
      placeholder="reimbursement id"
      name="reiAppId"
    />
    <input class="blue" id="approveRei" type="submit" value="Approve" />
  </div>

  <div>
    <h4>Deny Reimbursement</h4>
    <input
      id="reiDenId"
      type="number"
      placeholder="reimbursement id"
      name="reiDenId"
    />
    <input class="blue" id="denyRei" type="submit" value="Deny" />
  </div>

  <div>
    <h4>Employees Requests</h4>
    <select name="filterRei" id="filterRei" placeholder="filter by">
      <option value="0">All</option>
      <option value="1">Pending</option>
      <option value="2">Approved</option>
      <option value="3">Denied</option>
    </select>
    <input class="blue" id="filterR" type="submit" value="Filter" />
    <input class="blue" id="Refresh" type="submit" value="Refresh" />
  </div>
  <br />
  <div>
    <table id="empTable" class="table">
      <thead>
        <tr class="table-info">
          <!-- <th scope="col">Index</th> -->
          <th scope="col">ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Submitted</th>
          <th scope="col">Resolved</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th scope="col">Resolver ID</th>
          <th scope="col">Status ID</th>
          <th scope="col">Type ID</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
      </thead>
      <tbody id="empTableBody"></tbody>
    </table>
  </div>

  <button type="submit" class="btn btn-primary" routerLink="/login">Logout</button>
</div>
