<div class="form-container">

  <div>
    <!-- <h2>EMPLOYEE HOME </h2>     -->
      <h2 id="welcomeTextName">Welcome, {{getUser() | uppercase }}</h2>    
      <br />
  </div>

  <div class="singin">
    <h5>CREATE NEW REIMBURSEMENT REQUEST</h5>
    
    <form novalidate #myForm="ngForm" (ngSubmit)="createNewReimbursement()">

      <select name="type" [(ngModel)]="newReimbursementObj.reiType" required> 
        <option value="" disabled selected>Type</option>
        <option *ngFor="let t of typesOfReimbursement" [value]="t">{{t}}</option>
      </select>
      <input type="text"  placeholder="enter description" name="description" [(ngModel)]="newReimbursementObj.rei_description"  required>
      <input placeholder="enter amount" type="number"   name="amount" [(ngModel)]="newReimbursementObj.rei_amount" required>
      <input type="submit" value="Create" [disabled]="myForm.invalid">

    </form>

  

  </div> 
  
  
  <div class="table">
    <br>
    <h5>REIMBURSEMENT REQUESTS </h5>    
    <select id="filterReis" name="reimbs" [(ngModel)]="selected" (ngModelChange)="onSelect()" >
      <option disabled selected>Filter</option>
      <option *ngFor="let reis of filterRei; let i = index " [value]="reis">
        {{reis}}
      </option>     
    </select>

    <input class="blue" id="Refresh" type="submit" value="Remove Filter" (click)="removeFilter()" />
    <input class="blue" id="Refresh" type="submit" value="Refresh" (click)="reloadCurrentPage()" />
    <br><br>

    <table id="empTable" class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Description</th>

          <th scope="col">
            Status
          </th>
          <th scope="col">Type</th>
          <th scope="col">Author ID</th>
          <th scope="col">Submitted</th>
          <th scope="col">Resolved</th>          
        </tr>
      </thead>
      <tbody id="empTableBody"></tbody>
      <tr *ngFor="let rei of reiArray"> 
        <td>{{rei.reiId}}</td>
        <td>{{rei.rei_amount | number:"1.2" }}</td>
        <td>{{rei.rei_description | uppercase}}</td>  
        <td>{{rei.reiStatus}}</td>  
        <td>{{rei.reiType}}</td>
        <td>{{rei.reiAuthor}}</td>
        <td>{{rei.rei_submitteDate | date:"MM/dd/yy"}}</td>            
        <td>{{rei.rei_resolvedDate ? (rei.rei_resolvedDate | date:"MM/dd/yy") : '_____'}}</td>            
      </tr>      
    </table>
  </div>

  <br>
  <button type="submit" class="btn btn-primary" routerLink="/login">Logout</button>
</div>
