<div class="background">
    <div id="login-form">
        <div class="card card-container">
          <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
          <form novalidate  #myLoginGroup="ngForm" (ngSubmit)="register()" >

            <!-- First Name, Last Name, User Role -->
            <div style="display:inline-block; white-space: nowrap; align-items:center;">
              <label for="username">First Name</label>
              <input required type="text" name="firstName" class="form-control" 
                  placeholder="enter first name"  [(ngModel)]="registrationForm.user.firstName" >                
              <label for="username">Last Name</label>
              <input required type="text" name="lastName" class="form-control" 
                  placeholder="enter last name"  [(ngModel)]="registrationForm.user.lastName" >
                <label for="userRole">User Role</label>   
                <select style="margin-right: 10px;" id="filterReis" name="reimbs" [(ngModel)]="selectedRole" 
                        class="btn "
                            required                   (ngModelChange)="onSelectRole()" >
                <!-- <option disabled selected></option> -->
                    <option *ngFor="let role of userRole; let i = index " [value]="role">
                    {{role}}
                    </option>          
                </select> 
            </div>
            <br><hr>

            <!-- Username -->
              <label for="username">Username</label>
              <input required type="text" name="username" class="form-control" 
                   #input                (ngModelChange)="onUsernameFilled($event, input)"
                  placeholder="enter username"  [ngModel]="registrationForm.user.username" > 
             <div *ngIf="usernameMessage != '' && registrationForm.user.username != '' ">
               <br>
                <a>{{usernameMessage}}</a>
             </div>
                          
            <!-- Email, Re-Email -->
              <label for="email">Email</label>
              <input required type="text" name="email" class="form-control"
                  #input      (ngModelChange)="onEmailFilled($event, input)"
                placeholder="enter email"  [(ngModel)]="registrationForm.user.email" >
              <div *ngIf="emailAvailableMessage != '' ">
                <br>
                  <a>{{emailAvailableMessage}}</a>
              </div>
              
              <label for="re-email">Re-Email</label>
              <input required type="text" name="re-email" class="form-control"
                placeholder="re-enter email" [(ngModel)]="re_email"  >
              <br>
              <app-child-email-check 
                                [emailMessage]="emailMessage"
                                [registrationForm]="registrationForm"
                                [re_email]="re_email">
              </app-child-email-check>   
              
            <hr>    
            <!-- Password, Re-Password -->
              <label for="password">Password</label>
              <input required type="password" name="password" class="form-control"
                placeholder="enter password"  [(ngModel)]="registrationForm.user.password" >
              <label for="re-password">Re-Password</label>
              <input required type="password" name="re-password" class="form-control"
                placeholder="re-enter password" [(ngModel)]="re_password"  >  
    
              <br>
              <app-child-password-check 
                                [passwordMessage]="passwordMessage"
                                [registrationForm]="registrationForm"
                                [re_password]="re_password">
              </app-child-password-check>   
              <br>
              
            <div class="form-group">              
              <input type="submit" class="btn btn-primary  form-control"          
                value="Register" 
                [disabled]="myLoginGroup.invalid">              
            </div>
            <div *ngIf="errorCreatingUser != '' ">
              {{errorCreatingUser}}
            </div>
            <br>
          </form>
          <br>
          <input type="submit" class="btn btn-primary  form-control"         
                value="Cancel" 
                routerLink="/login">
        </div>
      </div>
    </div>