<nav class="navbar ml-auto" style="width: 10%;margin-left: 86%;" >
  <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" 
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home Menu    
      </a>        
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/homereset">Reset password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/login">Logout</a></li>
      </ul>
  </div>
    
</nav>

