<div class="background">
<div id="login-form">
    <div class="card card-container">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
      <form novalidate  #myLoginGroup="ngForm" (ngSubmit)="passwordReset()" >
          <label for="username">Username</label>
          <input required type="text" name="username" class="form-control" 
              placeholder="enter username"  [(ngModel)]="username" >                
          <label for="email">Email</label>
          <input required type="text" name="email" class="form-control"
            placeholder="enter email"  [(ngModel)]="email" >
          <label for="re-email">Email</label>
          <input required type="text" name="re-email" class="form-control"
            placeholder="re-enter email" [(ngModel)]="re_email"  >  

          <br>          
          <app-child-login-reset [re_email]=re_email 
                                 [email]=email 
                                 [username]=username 
                                 [message]=message >
          </app-child-login-reset>    
          <br>
          
        <div class="form-group">
          <div *ngIf="message != '';else elseBlock ">
            <input type="submit" style="background-color:DodgerBlue; color: #fff;"         
            class="btn btn-primary" class="form-control"          
            value="Back to Login" 
            routerLink="/login">
          </div> 
          <ng-template #elseBlock>
          <input type="submit" style="background-color:DodgerBlue; color: #fff;"         
            class="btn btn-primary" class="form-control"          
            value="Reset password" 
            [disabled]="myLoginGroup.invalid">
          </ng-template>
        </div>
        <br>
      </form>
      <br>
      <input type="submit" style="background-color:DodgerBlue; color: #fff;"         
            class="btn btn-primary" class="form-control"          
            value="Cancel" 
            routerLink="/login">
    </div>
  </div>
</div>